.cardGridSkeleton {
  margin-top: var(--space-lg);
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-md);
}

@media screen and (max-width: 768px) {
  .cardGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

.skeletonContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding-top: 50px;
  justify-content: flex-end;
  gap: var(--space-sm);
}

.cavelasChoice {
  background: linear-gradient(to right, #f0f0f0, #e0e0e0, #f0f0f0);
  position: absolute;
  top: 0;
  background-size: 200% 100%;
  animation: loadingAnimation 1.5s ease-in-out infinite;
  padding: var(--space-xxs) var(--space-sm);
  border-radius: var(--radius-lg);
  width: 45%;
  height: 32px;
}

.cardContainer {
  width: 100%;
  flex: 1;
  background: linear-gradient(to right, #f0f0f0, #e0e0e0, #f0f0f0);
  background-size: 200% 100%;
  animation: loadingAnimation 1.5s ease-in-out infinite;
  border-radius: var(--radius-md);
  min-height: 320px;
}

.cardFooter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.cardButton {
  background: linear-gradient(to right, #f0f0f0, #e0e0e0, #f0f0f0);
  background-size: 200% 100%;
  animation: loadingAnimation 1.5s ease-in-out infinite;
  border-radius: var(--radius-md);
  width: 130px;
  height: 40px;
}

@keyframes loadingAnimation {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
