.cardGrid {
  margin-top: var(--space-lg);
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-md);
}

@media screen and (max-width: 768px) {
  .cardGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
